// mobile
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 0px 0px;
    border: none;
    padding: 0 20px;

    .search {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tool {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .search-input {
        display: block;
      }
    }
  }
}

//ipd
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 0px 0px;
    border: none;
    padding: 0 20px;

    .search {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tool {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .search-input {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .sidebar {
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    border-radius: 10px 0px 0px 10px;
    border-right: 1.5px solid #decdcd;

    .search {
      height: 60px;
      line-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tool {
        line-height: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .chat-group-box {
      width: 100%;
      padding: 10px 0px;
      display: flex;

      .avatar {
        margin-right: 10px;
      }

      .chat-group-item {
        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;

        .group-detail {
          .group-name {
            font-weight: bold;
          }
          .group-msg {
            color: #adabab;
            font-size: 12px;
          }
        }
      }
    }

     .group-active{
        background-color: #decdcd;
      }
  }
}
